body {
    padding-top: 90px;
}
.panel-login {
    border-color: #ccc;
}

.panel-login .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
}

.panel-login>.panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 34px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.spacer-sm {
    margin-left: 35px;
}

.input-xs {
    height: 34px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.players-section {
    padding: 10px;
}

.help-block{
    font-size: 10px;
    position: absolute;
    right: 10px;
}
.form-control-feedback{
	line-height: 45px;
}
.panel-login .form-group{
	margin-bottom: 30px;
}
nav .inputBuscar{
    margin: 20px 0px;
    padding: 0;
}
#lista tr.info th i{
    cursor: pointer;
}
